.wordpress_heading {
  color: var(--secondary-color);
  padding: 25px;
}

.wordpress_para {
  padding: 20px;
}
.wordpress_right {
  padding: 20px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: start;
}
.heath_care {
  padding-left: 20px;
}
.main_wordpress_right {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .wordpress_right {
    font-size: 10px; /* Adjust font size for extra small devices */
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .wordpress_right {
    font-size: 10px; /* Adjust font size for small devices */
  }
}

/* Medium devices (landscape tablets, 769px and up) */
@media only screen and (min-width: 769px) {
  .wordpress_right {
    font-size: 10px; /* Adjust font size for medium devices */
  }
}
.nav-pills .nav-link.active {
  background-color: transparent;
  border-bottom: 2px solid blue;
  color: blue;
  /* Add any other styles you want to customize */
}
.nav-link {
  background-color: #f5f5f5;
  border-radius: 25px;
  transition: all 0.5s ease-in-out 0s;
  /* border: 1px solid var(--secondary-color); */
}
.nav-link:hover{
  box-shadow: 3px 3px 3px 0px var(--secondary-color);
  -webkit-box-shadow: 3px 3px 3px 0px var(--primary-color);
  -moz-box-shadow: 3px 3px 3px 0px var(--secondary-color);
  transform: translateY(-7px);
}
