.our_app_main{
    padding: 0px 40px 0px 40px;

    

}
.our_apps_card_img{
    border-radius: 15px;
    cursor: pointer;


}
.our_apps_card_heading{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.Our_apps_heading{
    font-weight: 500;
}

@media (max-width:768px) {
.our_apps_card{
    padding: 0 30px 0 30px;

}
.our_app_main{
    padding: 0px;

    

}
}
@media (max-width: 575.98px) {

    .our_apps_paragraph {
      padding: 0 0 0 10px;
      text-align: center;
    }
 
    
  
  }