. .Datacreation_heading {
    display: flex;
    justify-content: center;
    color: var(--secondary-color);
    align-items: center;
  }
  @media (max-width: 768px) {
    .Datacreation_heading {
      padding: 25px;
    }
    .Datacreation_left {
      padding-left: 60px;
    }
    .Datacreation_bottom {
      padding-left: 30px;
    }
    .Datacreation_coin {
      display: none !important;
    }
  
    .Datacreation_para {
      padding: 30px;
    }
    .Datacreation_Agile {
      margin-top: 40px !important;
    }
    .Quality_lines_row {
      padding: 0 30px 0 30px;
    }
  }
  .Datacreation_platform_left {
    display: flex;
    flex-direction: row;
  }
  
  .Datacreation_coin {
    display: flex;
    justify-content: end !important;
  }
  .Datacreation_lines {
    background-color: #f4f3f1;
    margin-top: 20px;
  
    border-radius: 5px;
    padding: 20px;
    box-shadow: 7px 5px 11px -1px rgba(0, 0, 0, 0.31);
    -webkit-box-shadow: 7px 5px 11px -1px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 7px 5px 11px -1px rgba(0, 0, 0, 0.31);
  }
  .Datacreation_lines_para {
    margin-top: 20px;
    padding-left: 30px;
    cursor: pointer;
  }
  