.otherservices_card {
  padding: 30px;
  background-color: aliceblue;
  border-top: 15px solid #fc7e13;
  height: 430px;
  border-radius: 69% 31% 97% 10% / 0% 100% 0% 100%;
}

.otherservices_card:hover {
  background-color: rgba(31, 39, 79, 0.8) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  border-radius: 16px;
  border-bottom: 15px solid #fc7e13;
  .linkstyle {
    color: var(--primary-color);
  }
}
.otherservices_head {
  color: #1f274f;
  margin-top: 3%;
  padding-top: 20px;
}
.otherservices_para {
  color: #1f274f;
}
@media screen and (max-width: 768px) {
  .swipp {
    padding: 30px !important;
  }
  .otherservices_para {
    padding: 0 20px 0 20px;
  }
}
.linkstyle {
  color:inherit;
}

.card_head {
  font-weight: 500;
}

@media only screen and (max-width: 575.98px) {
  .card_head {
    font-size: 13px;
  }
  .otherservices_para {
    font-size: 10px;
  }
  .otherservices_card {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 983px) {
  .otherservices_card {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 323px) {
  .otherservices_card {
    font-size: 10px;
  }
}
